<html>
    <head>
      <title></title>
    </head>
    <body>
      <h1>
         <% require 'date'
         %>


      </h1>
      <p> "The date is" <%= Date.today.strftime("%A, %B %d, %Y") %> </p>
    </body>
</html>
