<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <p>
      <% t = Time.now.strftime("%A, %B %d, %Y") %>
      The date is <%= t %>
    </p>
  </body>
</html>
